name: CI/CD for loan API

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: access of our repo to workflow
      uses: actions/checkout@v4
    
    - name: Set up Python 3.14.0
      uses: actions/setup-python@v3
      with:
        python-version: "3.14.0"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt

    - name: Test with pytest
      run: pytest